.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.calc-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.calc-submit {
    max-width: 250px;
}